VITE_API_BASE_URL=http://localhost:5176

DB_CONN=Server=sqlserver,1433;Database=ZwitscherDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True
JWT_SECRET=tcHW5TBC4V3TY9KTdtRPI49cx41L3DHEVZrXfuAr
SA_PASSWORD=YourStrong!Passw0rd

