VITE_API_BASE_URL=http://localhost:5176

DB_CONN=Host=postgres;Port=5432;Database=zwitscher;Username=zwitscher;Password=YourStrong!Passw0rd
JWT_SECRET=tcHW5TBC4V3TY9KTdtRPI49cx41L3DHEVZrXfuAr
POSTGRES_PASSWORD=YourStrong!Passw0rd

